@import '../CSS/Responsive.scss';

.footer{
    // background-image: url('../Statics//Images/lets.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 20px;
    background-color: #140014;
    color: white;
    overflow: hidden;
    position: relative;

    @include medium{
        flex-direction: column;
    }
    .left{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 60%;
        
        @include medium{
            margin-top: 4rem;
            width: 100%;
        }

    .MuiBox-root{
        .align-social{
            margin-left: -7rem;

            @include medium{
                margin-left: 0;
            }              
        }           
    }
        
    .msg-contact{
        @include medium{
            display: flex;
            margin: 0;
            width: 100%;
            text-align: center;
            flex-direction: column;
            justify-content: center;
        }
                }
    }

    .right{
        height: 100%;
        justify-content: center;
        margin: 4rem 3rem 0 0;
        width: 40%;

        @include medium{
            width: 100%;
        }
        img{
            width: 100%;
            object-fit: cover;

        }
    }
}

input{
    color: white
}