@import '../CSS//Responsive.scss';

.header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-image: url('../Statics/Images/coding.jpg');
    background-color: #140014;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    background: puple;
    overflow: hidden;


    @include medium{
    background-position: center;
    background-clip: unset;

    .my{

        .circle{
            box-shadow: 1px 4px 10px 0px #0b0012    
        }
        .my-profile{
                h1{
                    color: #ffe4c8 !important;
                    text-shadow: -1px -2px 0px #ed6c02 !important;
                    font-size: 1.7rem !important;
                    line-height: 2rem;
                }
            }
    }
    }

    .my{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;

        .circle{
            width: 270px;
            height: 270px;
            background: rgba(55, 3, 3, 0.089);
            border-radius: 50%;
            overflow: hidden;
            transform: scaleY(100%);
            animation:BounceDown 1.5s ease-in-out forwards,
            FlameGlow 3s ease-in-out infinite;
            animation-delay:
            0s,
            1.7s;
            will-change: box-shadow;


            img{
                width: 280px;
                object-fit: cover;;
            }
        }

        .my-profile{
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            // transform: scaleX(-80%);
            // animation: BounceDown 1.5s forwards ease-in-out;


            h1{
                text-align: center;
                color: white;
                text-shadow: 1px 2px 0px rgb(158 0 0 / 78%);
                padding: 5px 5px 10px 5px;
                transform: scaleY(100%);
            }

            .bg{
                background: linear-gradient(to bottom, #1f0023, #ff3c00);
                height: 40px;

                .txt{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .Typewriter{
                         .Typewriter__wrapper{
                        font-size: 25px;
                        font-weight: 500;
                        margin-top: 1.3rem;
                        text-align: center;
                        color: #d0d0d0;
                    }
                    }
                   
                }
            }
        }
    }
}


@include medium{
    .header{
        height: 550px;

        .my{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .circle{
                width: 270px;
                height: 270px;
                margin-top: 2rem;

                img{
                    width: 320px;
                }
            }
        }
    }
}

@include small{
    .my-profile{
        gap: 1rem;

        h1{
            font-size: 1.3rem;
            text-align: center;
            color: black !important;
        }
    }
}

@keyframes BounceDown{
    0%{
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes FlameGlow {

    0% {
        box-shadow:
            0 0 8px rgba(255, 140, 0, 0.3),
            0 0 20px rgba(255, 80, 0, 0.2),
            0 0 35px rgba(255, 115, 0, 0.15);
        }1% {
            box-shadow:
                0 0 8px rgba(255, 94, 0, 0.3),
                0 0 20px rgba(255, 80, 0, 0.2),
                0 0 35px rgba(255, 149, 0, 0.15);
            }
        
        3% {
            box-shadow:
                0 0 8px rgba(255, 140, 0, 0.3),
                0 0 20px rgba(255, 80, 0, 0.2),
                0 0 35px rgba(255, 149, 0, 0.15);
            }
        5% {
    box-shadow:
        0 0 8px rgba(255, 140, 0, 0.3),
        0 0 20px rgba(255, 80, 0, 0.2),
        0 0 35px rgba(255, 149, 0, 0.15);
    }
  
    10% {
      box-shadow:
        0 0 8px rgba(255, 0, 0, 0.393);
    }
  
    50% {
      box-shadow:
        0 0 18px rgba(255, 140, 0, 0.6),
        0 0 40px rgba(255, 80, 0, 0.45),
        0 0 65px rgba(255, 221, 0, 0.243);
    }
  
    100% {
      box-shadow:
        0 0 12px rgba(255, 140, 0, 0.45),
        0 0 28px rgba(255, 80, 0, 0.35),
        0 0 50px rgba(255, 220, 0, 0.3);
    }
  }
  