@import '../CSS/Responsive.scss';

.nav{
    background: #ebebeb;
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0 20px 0 20px;
    box-shadow: 2px 0px 12px rgba($color: #000000, $alpha: 1.0);
    position: relative;
    z-index: 99999;

    .nav-header{
        display: flex;
        margin-top: 1.3rem;
        
        &:hover{
            cursor: pointer;
        }

        div{
            font-size: bold;
            z-index: 100;
            width: 100%;
            overflow: hidden;
            span{
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
            }
            strong{
                margin-bottom: 3rem;
                @include small{
                    font-weight: 700;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .nav-items{
        display: flex;
        gap: 1rem;
        margin-top: 3rem;

        .MuiButtonBase-root{  
        text-transform: capitalize;              
        text-decoration: none;
        font-weight: 600;
        font-size: 17px;
        color: rgb(56, 0, 48);
        };

        &:hover{
            cursor: pointer;
        }

        @include medium{
            display: none;
        }

    }

    .menu-icon{
        display: none;

        @include medium{
            display: flex;
            align-items: center;
            justify-content: flex-end;

           .MuiSvgIcon-root{
            font-size: 1.8rem;
            &:hover{
                font-size: 2rem;
                cursor: pointer;
                transition: all .4s;
            }
           }
        }
    }


}
    .menu{
       display: flex;
       flex-direction: column;
       background: rgb(14 0 18);
       color: white !important;
       height: 120px;
       position: absolute;
       width: 100%;
       bottom: 0%;
       right: 0;
       transition: all .3s;
       gap: 0.1rem;
       padding: 10px;
       transform: translateY(100%);
       z-index: 10;

       .MuiButtonBase-root{  
        text-transform: capitalize;              
        text-decoration: none;
        font-weight: 600;
        font-size: 17px;
        color: rgb(255, 98, 0);
        };

       a{
        margin-left: 2rem;
       }

       .blank{
        width: 100%;
        height: 150vh;
        background:rgb(0 0 0 / 0%);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        transform: translateY(100%);
        cursor: pointer
    }

    }

   

    
    .deactivate{
        position: absolute;
        background: rgb(49, 17, 17);
        top: -300%;
        z-index: 0;
        transition: all .4s;
        transform: translateY(-100%);
        
    }


    @media screen and (min-width: 901px){
        .off{
            position: absolute;
            background: rgb(120, 3, 3);
            top: -300%;
            z-index: 0;
            transition: all .4s;
            transform: translateY(-100%);
        }

}