@import '../CSS/Responsive.scss';


.project{
    width: 100%;
    display: flex;
    flex-direction: column;

    .card-container{
        padding: 20px;
        display:flex;
        flex-flow: wrap row;
        justify-content: center;
        gap: 0.7rem;
        margin-top: 2rem;

         .card{
        height: 300px;
        width: 300px;
        background: rgb(20, 0, 20);
        min-width: 140px;
        border-radius: 10px;
        transition: all 0.4s;
        overflow: hidden;
        position: relative;

        @include small{
        width: 90%;
            &:hover{
                transform: scale(0);
                width: 95% !important;
                margin: 0 auto;
            }
        }

        &:hover{
            transform: scale(1.2);
            z-index: 9999;
            width: 320px;
        }

        img{
            width: 100%;
            object-fit: cover;
        }

        .title{
            position: absolute;
            background-color: #7b0000;
            bottom: 0;
            left: 0;
            padding: 5px;
            color: white;
            font-weight: 600;
            font-size: 1.1rem;
            border-radius: 0 2rem 0 0;
        }

        .btn{
            position: absolute;
            right: 5%;
            top: 30%;
            width: 50%;

            .MuiButtonBase-root{
                background-color: #2e1038;
                color: white !important;

                a{
                    color: white;
                }
            }
        }

    }
    }
   
}