@import '../CSS/Responsive.scss';

.social{
   
    .social-icon{
        padding: 3rem;
        // background: white; 

        @include small{
            padding: 1rem;
        }
        .MuiSvgIcon-root{
            background: white;
            padding: 3px; 
            border-radius: 100%;
            font-size: 2rem !important;
           &:hover{
            transform: scale(1.2);
            transition: all 0.5s;
            cursor: pointer;
            color: #cb3204;

        } 
        }
    } 
    .whatsapp{
        .MuiSvgIcon-root{
            color: #ff3c00;
        }
}

.linkedln{
    .MuiSvgIcon-root{
        color: #ff3c00;
    }
}

}

@include small{
    .social{

        .social-icon{
            .MuiSvgIcon-root{
                font-size: 2.5rem;
            }
        }
    }
}