body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
.h1,
.h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
}

body:--webkit-scrollbar {

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  line-height: 1.5rem; 
  scrollbar-width: none;      /* Firefox */

}

*::-webkit-scrollbar {
  display: none;              /* Webkit */
}

a{
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: rgb(56, 0, 48);
}